<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="rjds" translate="label" sortOrder="100">
            <label>RJDS</label>
        </tab>

        <section id="rjds_logviewer" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Log Viewer</label>
            <tab>rjds</tab>
            <resource>RJDS_LogViewer::logviewer</resource>

            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>

                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

            </group>
        </section>
    </system>
</config>
